header, footer {
  width: 80%;
  margin: 0 auto;
}

.column-1, .column-2 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 0 5px 5px 5px;
}

.column-1 {
  margin-left: 9%;
  border-right: 1px grey solid;
}

.column-2 {
  margin-right: 9%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

body > * {
  text-align: left;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
  }
}