<!DOCTYPE html>
<html>
<head>
  <title>Songster</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Sinatra the Crooner</h1>
  <p>Welcome to the Rat Pack.</p>
  <p>Hey! <%= @student %>! Don't know know I'm the Crooner!?</p>
</body>
</html>
